*.o
*.so
*.gdb_history
*.cxx
*.pcm
*logs*
*.pcm
*.d
*.log
*.pyc
*.cmd
*.exe
*.display.screen
*.pdf
*.png
babymaker/processBaby
babymaker/*.root
babymaker/*.txt
babymaker/batchsubmit/job_input/*
babymaker/batchsubmit/submitAll.sh
CORE
**/condor
MT2Looper/runLooper
MT2Looper/output/*
Nifty
