*.o
*.so
*.gdb_history
*.cxx
*.pcm
*logs*
*.pcm
*.d
*.log
*.pyc
*.cmd
*.exe
*.display.screen
*.pdf
*.png
*.pdf
babymaker/processBaby
babymaker/*.root
babymaker/*.txt
babymaker/batchsubmit/job_input/*
babymaker/batchsubmit/submitAll.sh
babymaker/batchsubmit/mergeLogs/*
babymaker/batchsubmit/skim/skimLogs*
babymaker/batchsubmit/ProjectMetis/*
CORE
**/condor
MT2Looper/runLooper
MT2Looper/output/*
Nifty
ShortTrack/output*/*
FshortLooper/output*/*
ShortTrack/region*/*
scripts/limit*/**
scripts/**/cards*/**
scripts/cards*/**
**/CMSSW*/**
ShortTrackTagAndProbeLooper/*.root
scripts/CardMaker/test.txt
scripts/fits*/**
RebalanceAndSmear/plotting/looper_output/V*
RebalanceAndSmear/SmearLooper/batchsubmit/job_input*
scripts/trigeff/trigeff*.root
scripts/trigeff/trigeff*.eps
limits/SignalScan/limits*.txt
limits/SignalScan/limits*.root
babymaker/batchsubmit/NEW_WORKFLOW/V*
babymaker/batchsubmit/skim_bennettworkflow/log*
